<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tribunomobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TribunoMobile">
        <activity android:name=".view.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.ui.registerUser.RegisterActivity"/>

        <activity
            android:name=".view.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TribunoMobile.NoActionBar">
        </activity>

        <activity
            android:name=".view.ui.registerOperation.RegisterOperationActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TribunoMobile.NoActionBar">
        </activity>
    </application>

</manifest>